.app-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #626262;     
}

h3 {
  color: #626262;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  opacity: 0.55;
}

.sidebar {
  width: 280px;
  background-color: #FF4AB1;     
  color: #ffffff;               
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sidebar h2 {
  font-size: 1.1rem;
  opacity: 0.85;                  
  margin-bottom: 20px;
}


.nav-section-title {
  opacity: 0.55;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 15px 0 5px 10px;
}


.nav-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
}


.nav-link:hover {
  background: #FFD2EC; 
}


.btn-novo-sidebar {
  background-color: #FFD2EC;      
  color: #000000;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}


.main-content {
  flex: 1;
  padding: 40px;
  position: relative;
  background: #ffffff;           
  color: #626262;
}


.top-right-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}


.btn-export {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  color: #C0C0C0;                
  box-shadow: 0 2px 8px #626262;
  transition: 0.2s;
}


.btn-export:hover {
  background: #f8fafc;
  transform: scale(1.05);
}


.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.kpi-card {
  padding: 25px;
  border-radius: 12px;
  cursor: pointer;
  color: #f8fafc;                 
  transition: 0.3s;
}


.kpi-card:hover {
  transform: translateY(-5px);
}


.top-right-actions{
  display:flex;
  align-items:center;
  gap: 10px;
  justify-content: flex-end;
}


.today{
  font-weight: 900;
  color:#A1A1A1;
  margin-right: 8px;
}


select {
  background-color: #ffffff;
  color: #0f172a;
  border: 2px solid #828282;      
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}


select option {
  background-color: #ffffff;
  color: #000000;
}

select option:hover {
  background-color: #DFDFDF;      
  color: #ffffff;
}